// Should be used for overriding all buttons.
// Import the css on entry point.
.ant-btn-primary {
  background-color: #1677ff;

  &:hover {
    background-color: #1677ff;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}

.ant-btn-danger {
  background-color: FF4D4E;
  color: #fff;

  &:hover {
    background-color: FF4D4E;
    color: #fff;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}

.ant-btn-info {
  background-color: #87b1fe;
  color: #fff;

  &:hover {
    background-color: #6e9cf3;
    color: #fff;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}

.ant-btn-warning {
  background-color: #ffec3d;
  color: #000;

  &:hover {
    background-color: #fff566;
    color: #000;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}

.ant-btn-default {
  background-color: #fff;
  color: #000;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}

.ant-btn-success {
  background-color: #52c41a;
  color: #fff;

  &:hover {
    background-color: #73d13d;
    color: #fff;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}

.ant-btn-danger {
  background-color: #e14837;
  color: #fff;

  &:hover {
    background-color: #e2331f;
    color: #fff;
  }

  &:disabled {
    background-color: #dbdbdb;
    color: #ffffff;
  }
}
