.content-edit-avatar-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-upload-wrapper.ant-upload-picture-circle-wrapper {
    width: auto;
  }

  .ant-upload-wrapper.ant-upload-picture-card-wrapper
    .ant-upload.ant-upload-select,
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper
    .ant-upload.ant-upload-select,
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper
    .ant-upload-list.ant-upload-list-picture-circle
    .ant-upload-list-item-container {
    width: 200px;
    height: 200px;
  }
}
